<template name = 'home'>
    <div class='row'>
        <h3>Why:</h3>
        <p>Recently I started a work out plan. I met a trainer and he gave the plan in a paper. As he was going through
        what I need to do, all I could think of is, who will be using paper in this time and age.</p>
        <ul>
            <li>Build an end to end using Meteor.</li>
            <li>Build and deploy a mobile application.</li>
            <li>Use my iphone for work out instead of carrying a paper.</li>
            <li>Create monthly work out plan and send update to the trainer.</li>
            <li>May be sell the software back to the trainer and get my money back. :)</li>
        </ul>
        <h3>Plan:</h3>
        <p>I need to build this app and learn Meteor. So I am setting up a development plan that I can commit to.</p>
        <ul>
            <li><strike>Build the layout and setup all pages and navigation.</strike></li>
            <li>Build Setup screen.<ul>
                <li>Create left and right yield area.</li>
                <li>Create left area content to create workouts.</li>
                <li>Give it a name(group) and then enter some texts for now to create a workout</li>
            </ul></li>
            <li>
                Create a plan
                <ul>
                    <li>This same as the above. Create a group name</li>
                    <li>pull the workout groups from there and make up a plan</li>
                    <li>Make sure you have REST as one of the workout plan.</li>
                </ul>
            </li>
            <li>
                Create montly plan
                <ul>
                    <li>Create a calender and assign the plan for a month.</li>
                    <li>This should not be hard coded in case if it user couldnt workout for a day they should be able
                    roll over the workout missed to next day</li>
                </ul>
            </li>

        </ul>
    </div>
</template>